<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vision</title>
    <link rel="stylesheet" href="../style.css" />
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
    <div class="container bg-gradient-to-r from-cyan-500 to-blue-500">
        <nav class="center" style="display:block;">
            <ul class="">
                <li class="float">Home</li>
                <li class="float">About</li>
                <li class="float">Services</li>
                <li class="float">Contact</li>
                
            </ul>
        </nav>
        <div class="center">
            <div class="">
                <p class="">Get nice shoes here</p>
                <div>Click below now!!</div>
            </div>
            <div class=""></div>
        </div>
    </div>
</body>

</html>